@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://img.freepik.com/vecteurs-libre/fond-blanc-hexagone-bleu-tech_1017-19366.jpg?w=900&t=st=1701961285~exp=1701961885~hmac=230270eb5809dd0e9ed9b7245a00ead384ba5506cd5dd29c80987455245c2507');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .text-center {
        text-align: center;
        padding: 20px; /* Adjust as needed */
    }

    h1.display-4 {
        font-size: 3.5em;
        color: #12658a;
        font-weight:900;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome To Our Medical Application</h1>
</div>
